body
{
	background: url("imagen/37068hd.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
  	height: 100%; 
	margin: 0; 
	padding: 0; 
	display: table;
	width: 100%;
}
h1{
	font-family: "Century Gothic";
	font-size: 75;
	text-align: center;
	text-shadow: 0px 0px 5px  white;
	
}
.cuadro
{
	background-color: rgba(0, 0, 0, 0.45);
	color: white;
	font-family: "Century Gothic";
}
.introduccion
{
	width: 40%;
  height: auto;
	position: fixed;
	left: 30%;
	top: 25%;
	padding: 10px;
	font-family: "Century Gothic";
}
.formulario
{
	width: 40%;
  height: auto;
	position: fixed;
	left: 30%;
	top: 10%;
	padding: 10px;
	font-family: "Century Gothic";
}
.rounded_borders
{
	border-radius: 15px;
}
.centered
{
	text-align: center;
	font-family: "Century Gothic";
}
.title
{
	font-family: "Century Gothic";
	font-size: 50;
	text-align: center;
	padding: 5px;
	margin: 0px;
	color:#00FFFF;
}

.informacion
{
	font-family: "Century Gothic";
	font-size: 20;
	text-align: left;
	padding-right: 20px;
	margin: 0px;
	color: white;
}
.boton
{
	
	padding: 2px;
	color: black;
	font-size: 13;
	
}
.boton:hover
{
	text-shadow: 0px 0px 5px #f7f7f7;
	font-size: 13;
	background: lightgreen;
}
.boton:active
{
	text-align: center;
	text-shadow: 4px 0px 5px #ff5975;
	font-size: 12;
	background: lightgreen;
}

.subtitle
{
	font-family: "Century Gothic";
	font-size: 25;
	text-align: center;
}

.clase-general
{
  display: table-row;
}
footer 
{
   background: #0069D9; 
	 height: 50px;
	 color: white;
}
p
{
	text-align: center;
	font-family: "Century Gothic";
	color:  white;
}
a
{
	
	font-family: "Century Gothic";
	color:  white;	
}
.linea
{
    display: inline-block;
}
